{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
	  {{ message }}
	  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
{% endfor %}

<br/>
<table class="table">
	<thead>
		<tr>
			<th scope="col">Heart Rate min</th>
			<th scope="col">Heart Rate max</th>
			<th scope="col">Heart Rate avg</th>
			<th scope="col">Calories</th>
			<th scope="col">Active Calories</th>
			<th scope="col">Active Steps</th>
			<th scope="col">Duration</th>
			<th scope="col">Date</th>
		</tr>
	</thead>
{% for workout in workouts %}
<br/>
<tr>
<td>{{ workout.heart_rate_min }}</td>
<td>{{ workout.heart_rate_max }}</td>
<td>{{ workout.heart_rate_avg }}</td>
<td>{{ workout.calories }}</td>
<td>{{ workout.active_calories }}</td>
<td>{{ workout.active_steps }}</td>
<td>{{ workout.duration }}s</td>
<td>{{ workout.date }}</td>
</tr>
{% endfor %}
</table>




{% endblock %}